html
  head
    title Hello-world
    link(rel="stylesheet",href="../bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="css/main.min.css")
  body
    .jumbotron
      h1.display-3 Hello world!
      p.lead Essa é uma aplicação teste para a minha preparação para o cargo de Front-End Sênior.
